body {
text-align: center;
background-color: blue;
}
#output{
background-color: white;
border-radius: 10px;
border-top: 10px solid red;
padding: 10px;
float: none;
text-align: left;
}









